# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CMake
CMakeFiles/
CMakeCache.txt
CMakeScripts/
CMakeTmp/
compile_commands.json
Makefile
cmake_install.cmake
CMakeLists.txt.user
CMakeSettings.json

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.suo
*.obj
*.dll
*.lib
*.pdb

# Compiled Dynamic libraries (Windows)
*.dll
*.exe
*.pdb

# Compiled Dynamic libraries (Unix-like)
*.so
*.out

# Compiled Static libraries
*.a

# Compiled object files
*.o

# Temporary build files
bin/
build/
out/

# macOS-specific
.DS_Store

# Compiled Python files
__pycache__/
*.pyc
*.pyo

# Log files
*.log

# Dependency directories
deps/
node_modules/

# Visual Studio platform-specific folders
Debug/
Release/
